/************************************************************************************
                              GENERAL SETTINGS
 ************************************************************************************/
html,body{
    height: 100%;
}

body{
    font-family: "Fira Code", sans-serif;
    height: 100%;
}

h3{
    color: #41464b;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    font-weight: 300;
    color: #64707b;
}
/************************************************************************************
                                LISTE
************************************************************************************/
.list-none{
    list-style: none;
}


/************************************************************************************
                                IMAGE
************************************************************************************/
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

/************************************************************************************
                                ANIMATE
************************************************************************************/
#home-cover,
#home-heading,
#home-btn{
    animation-duration: 1s;
}

#home-cover{
    animation-delay: 0.1s;
}

#home-heading{
    animation-delay: 0.5s;
}

#home-btn{
    animation-delay: 1s;
}

/************************************************************************************
                                PARALLAX
************************************************************************************/
.bg-parallax{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/************************************************************************************
                                BUTTON
************************************************************************************/

.btn-general{
    background-color: transparent;
    border-radius: 0;
    padding: 5px 30px;
    text-transform: uppercase;
    letter-spacing: 0;
}

.btn-white{
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
}

.btn-white:hover, .btn-white:focus{
    color: #555;
    background-color: white;
}

.btn-blue{
    border: 2px solid #34c6d3;
    background-color: transparent;
    color: #34c6d3;
}

.btn-blue:hover, .btn-blue:focus{
    color: #fff;
    background-color: #34c6d3;
}
/************************************************************************************
                                    HOME
 ************************************************************************************/
#home{
    height: 100%;
}

#home-cover{
    height: 100%;
    background-image: url("../img/bg-cover.jpg");
}

#home-container{
    width: 100%;
    height: 100%;
    display: table;
}

#home-container-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 50px;
}

#home-heading h3{
    font-size: 50px;
    font-weight: 500;
    color: white;
}

#home-btn{
    padding: 25px 0;
}

/************************************************************************************
                              GENERIC CONTENT
 ************************************************************************************/
.content-box{
    padding: 75px 0;
}

.content-title h3{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline{
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto;
    margin-bottom: 20px;
}

.content-title-white h3{
    color: white;
}

/************************************************************************************
                              SERVICES
 ************************************************************************************/
.service-item{
    padding: 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i{
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i{
    color:white;
    background-color: #34c6d3;
}

.service-item-title h3{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p{
    margin: 0;
    padding-left: 105px;
}

/************************************************************************************
                                    ABOUT
 ************************************************************************************/
#about-content-box{
    float: left;
    height: 700px;
}

#about-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3{
    text-align: left;
}

#about .content-title-underline{
    margin: 0 0 30px 0;
}

#about-bg-diagonal{
    width: 60%;
    height: 700px;
    float: right;
    background-image: url("../img/bg-about.jpg");
    border-top: 700px solid transparent;
    border-left: 100px solid #fff;
}

/************************************************************************************
                                WORK
************************************************************************************/
.row.no-gutters [class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}
.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    transition: transform .5s ease-in-out;
    cursor: zoom-in;
}

.img-wrapper img:hover{
    transform: scale(1.5);
}

/************************************************************************************
                                SOCIAL ICON
************************************************************************************/
.social-list{
    padding-left: 0;
}

.social-list li{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i{
    font-size: 17px;
    
}

.icon-gray i{
    color: #64707b;
}

.icon-white i{
    color: #fff;
}

.social-icon i:hover{
    color: #34c6d3;
}

/************************************************************************************
                                TEAM
************************************************************************************/
.team-member{
    margin: 0 15px;
}

.team-member-info{
    padding: 10px 0 30px 0;
}

h4.team-member-name{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation{
    color: #34c6d3;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}
/************************************************************************************
                                TESTIMONIAL
************************************************************************************/
#testimonial-cover{
    background-image: url("../img/bg-testimonial.jpg");
}

#testimonial .content-box{
    background-color: rgba(0,0,0,.8);
}

#customers-testimonials{
    padding: 50px 0;
}

.testimonial img{
    max-width: 120px;
    margin: 0 auto;
}

.testimonial blockquote{
    border: 0;
    font-family: "Lato Light",sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p{
    color: #fff;
}

.testimonial blockquote::before,
.testimonial blockquote::after{
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonial blockquote::before{
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote::after{
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonial-author p{
    color: #fff;
    font-size: 17px;
}

.testimonial-author p strong{
    display: block;
}

/************************************************************************************
                              PRICING
 ************************************************************************************/
.pricing-box{
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 40px 0;
}

h4.pricing-title{
    display: inline-block;
    background-color: #34c6d3;
    color: #fff;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value{
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup{
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-spec{
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-spec li p{
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg{
    padding: 90px 0;
    margin: 0;
    background-color: #34c6d3;
}

.pricing-box-lg h4.pricing-title{
    color: #34c6d3;
    background-color: #fff;
}

.pricing-box-lg ul.pricing-spec li p{
    color: #fff;
}

/************************************************************************************
                              STATS
 ************************************************************************************/
#stats-cover{
    background-image: url("../img/bg-stats.jpg");
}

#stats .content-box{
    background-color: rgba(0,0,0,.6);
}

.stats-item{
    padding: 100px 0;
}

.stats-item i{
    color: #34c6d3;
}

.stats-item h2{
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
    color: #fff;
}

.stats-item p{
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
}

/************************************************************************************
                              CLIENTS
 ************************************************************************************/
.client{
    padding: 40px 0;
}

/************************************************************************************
                              CONTACT
 ************************************************************************************/
footer{
    background-color: #41464b;
    padding-top: 50px;
    border-top: 3px solid rgba(0,0,0,.1);
}

#contact-left h3,
#contact-right h3{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

#contact-left p{
    color: #fff;
    margin-bottom: 30px;
}

address{
    color: #fff;
}

address strong,
#phone-fax-email strong{
    letter-spacing: 1px;
}

form input.form-control,
form textarea.form-control{
    background-color: transparent;
    border-radius: 0;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
    transition: box-shadow .5s ease;
}

form input.form-control:focus,
form textarea.form-control:focus{
    box-shadow: 0 1px 10px white;
    border: 1px solid white;
}

/************************************************************************************
                              FOOTER
 ************************************************************************************/
#footer-bottom{
    background-color: rgba(0,0,0,.1);
    padding: 30px 0;
    margin-top: 60px;
    margin-bottom: 0;
}

#footer-copyrights p{
    color: #ffffff;
    margin: 0;
}

#footer-menu{
    float: left;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul{
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li{
    display: inline-block;
}

#footer-menu ul li a{
    color: #ffffff;
    font-size: 10px;
    font-weight: 300;
    margin: 0 6px;
    text-decoration: none;
}

#footer-menu ul li a:hover{
    color: #34c6d3;
}